<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="static/favicon/site.webmanifest"> -->
    <!-- twitter card -->
    <!-- <meta property="og:title" content="🐕 Doggy Timer"> -->
    <!-- <meta property="og:image" content="https://imagedelivery.net/XRMuug7Plwtt6DusERBDOw/8a3a4788-baa1-4283-570f-4da24a77a200/1600"> -->
    <!-- <meta property="og:type" content="website"> -->
    <title>Minimal</title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <main>
      <h1>🐕 Minimal</h1> 
    </main>
  </body>
</html>
